<!-- Task Edit form Component Modal -->
<div class="modal fade" id="taskEditForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="taskEditFormLabel" aria-hidden="true" data-state-initialize="false">
  <div class="modal-dialog modal-lg modal-dialog-scrollable modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title mb-0 col-9">Task Edit Panel <span class="text-muted d-none">[Task #<span class="embed tata_id"></span>]</span></h6>
        <div class="d-flex align-items-center gap-1 col-3 justify-content-end">
          <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Basic Settings"><a class="btn btn-xs btn-info active task-toggle-btn" data-bs-target="#taskPaneOne" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="taskPaneOne"><i class="bi bi-gear"><span class="visually-hidden">Basic Settings</span></i></a></span>
          <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Management Settings"><a class="btn btn-xs btn-info task-toggle-btn" data-bs-target="#taskPaneTwo" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="taskPaneTwo"><i class="bi bi-arrow-repeat"><span class="visually-hidden">Management Settings</span></i></a></span>
          <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Misc."><a class="btn btn-xs btn-info me-2 task-toggle-btn" data-bs-target="#taskPaneThree" data-bs-toggle="collapse" aria-expanded="false" aria-controls="taskPaneThree" role="button"><i class="bi bi-people"><span class="visually-hidden">Misc.</span></i></a></span>
          <a class="btn btn-xs btn-close me-2" data-bs-dismiss="modal" role="button" aria-label="Close" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="close"><span class="visually-hidden">close</span></a>
          <!--button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button-->
        </div>
      </div>
      <div class="modal-body">
        <div id="taskEditFormResponse"></div>
        <!-- Forms Accordion Parent -->
        <div id="taskEditFormAccordion">
          <div id="taskPaneOne" class="collapse show" data-bs-parent="#taskEditFormAccordion">
            <form method="post" id="taskEditFormForm">
                {% csrf_token %}
                {{ TasksEditForm.as_div }}
                <div class="row bg-body-secondary mt-3 p-2">
                  <div class="col-12 d-flex justify-content-end">
                    <input data-state-trigger="taskEditForm.save" class="btn btn-info btn-sm save" type="submit" value="Save" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Save changes. Response displayed near top of form.">
                  </div>
                </div>
            </form>
          </div>
          <div id="taskPaneTwo" class="collapse" data-bs-parent="#taskEditFormAccordion">
          </div>
          <div id="taskPaneThree" class="collapse" data-bs-parent="#taskEditFormAccordion">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>