<!-- workspace/ProjectEditForm Component Modal -->
<div class="modal fade" id="workspaceProjectEditForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="workspaceProjectEditFormLabel" aria-hidden="true" data-state-initialize="false">
  <div class="modal-dialog modal-lg modal-dialog-scrollable modal-fullscreen-sm-down">
    <div class="modal-content position-relative">
      <div class="modal-header">
        <h6 class="modal-title mb-0 col-8">WorkSpace Edit Panel <span class="text-muted d-none">[WorkSpace #<span id="wowo_id"></span>]</span></h6>
        <div class="d-flex align-items-center gap-1 col-4 justify-content-end">
          <a class="btn btn-xs btn-info" role="button" data-state-trigger="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Project Lifecycle Settings"><i class="bi bi-arrow-repeat"></i></a>
          <a class="btn btn-xs btn-info me-2" data-state-trigger="" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Users & Departments"><i class="bi bi-people"></i></a>
          <a class="btn btn-xs btn-close me-2" data-bs-dismiss="modal" role="button" aria-label="Close" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="close"></a>
          <!--button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button-->
        </div>
      </div>
      <div class="modal-body">
        <div id="workspaceProjectEditFormResponse"></div>
        <form method="post" id="workspaceProjectEditFormForm">
            {% csrf_token %}
            {{ workspaceForm.as_div }}
            <div class="row bg-body-secondary mt-3 p-2">
              <div class="col-12 d-flex justify-content-end">
                <input id="workSpaceEditFormSaveBtn" class="btn btn-info btn-sm" type="submit" value="Save" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Submit form. Response with be displayed near top of form.">
              </div>
            </div>
        </form>
        <form method="post" id="workspaceProjectEditFormForm">
            {% csrf_token %}
            {{ workspaceForm.as_div }}
            <div class="row bg-body-secondary mt-3 p-2">
              <div class="col-12 d-flex justify-content-end">
                <input id="workSpaceEditFormSaveBtn" class="btn btn-info btn-sm" type="submit" value="Save" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Submit form. Response with be displayed near top of form.">
              </div>
            </div>
        </form>
        <form method="post" id="workspaceProjectEditFormForm">
            {% csrf_token %}
            {{ workspaceForm.as_div }}
            <div class="row bg-body-secondary mt-3 p-2">
              <div class="col-12 d-flex justify-content-end">
                <input id="workSpaceEditFormSaveBtn" class="btn btn-info btn-sm" type="submit" value="Save" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Submit form. Response with be displayed near top of form.">
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>