<!--Include file: holds the WorkSpaces Arena-->
<div id="workspaceProjectArenaResponse"></div>
<div id="workspaceProjectArena" class="collapse show workspace-multi-collapse position-relative" data-state-initialize="decoy">
  <div class="row">
    <div class="col-12 col-md-3 backlog-col">
      <h6>backlog</h6>
      <div class="card d-none mt-2 mb-2">
        <div class="card-body bg-body-secondary position-relative">
          <h6 class="btn card-title embed description text-start lead" role="button" data-bs-toggle="modal" data-bs-target="#taskDetailsView" data-state-trigger="taskDetailsView">Temp Task</h6>
          <a class="small embed task-meta position-absolute top-0 end-0 mt-2 me-2" data-bs-toggle="popover" data-bs-trigger="hover focus" role="button"><i class="bi bi-box-arrow-up-right"></i><span class="visually-hidden">more info</span></a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 started-col">
      <h6>started</h6>
    </div>
    <div class="col-12 col-md-3 under-review-col">
      <h6>under review</h6>
    </div>
    <div class="col-12 col-md-3 completed-col">
      <h6>completed</h6>
    </div>
  </div>
</div>
      